{% extends '_layout.html' %}

{% block title %}Cryptid Catalog | Sightings{% endblock %}

{% block body %}
<h1>Sightings</h1>
<form action="/create_post" method="post" enctype="multipart/form-data" class="form">
    <label for="title">Post Title:</label><br>
    <input type="text" class="round" name="title" id="title" placeholder="Title"><br>

    <label for="creature">Creature:</label><br>
    <input type="text" class="round" name="creature" id="creature" placeholder="Creature"><br>
    
    <label for="location">Location:</label><br>
    <input type="text" class="round" name="location" id="location" placeholder="City, State"><br>

    <label for="picture">Picture:</label><br>
    <input type="file" class="round" name="picture" id="picture" required><br>

    <label for="description">Sighting Info:</label><br>
    <textarea rows="5" cols="40" class="round" name="description" id="description" placeholder="Tell us about your sighting!"></textarea><br>
    <button type="submit" class="btn btn-primary">Post</button>
</form>

{% endblock %}