{% extends '_layout.html' %}

{% block title %}Catalog | {{ post.title }}{% endblock %}

{% block body %}
<div class="div">
    <center><h1>{{ post.title }}</h1><h3>By {{ user.username }}</h3></center>
</div>

<div class="div">
    <center><img src="\static\forum_post_pictures\{{post.photo_path}}" style="width: 35em; height: auto;"></center>

</div>
<div class="div">
    <center><h3>Creature: {{ post.creature }}</h3></center>
</div>
<div class="div">
    <center><p class="mx-5 px-5">{{ post.description }}</p></center>
</div>


<table class="table mt-5">
    <thead>
    <tr>
        <th>User</th>
        <th>Comment</th>
        <th>Likes</th>
        <th></th>
        <th>Dislikes</th>
        <th></th>
    </tr>
    </thead>
    <tbody>



    {% for comment in comments %}
        {% if comment.comment_id == edit_comment.comment_id %}
        <tr>
            <td>{{ comment.user_id }}</td>
            <td>
                <form action="/submit_edit_comment/{{post.post_id}}/{{edit_comment.comment_id}}" method="post">
                    <input type="new_comment" class="form-control"  name="new_comment" value="{{ edit_comment.text }}" ><br>
                    <button type="submit" class="btn btn-success ">Submit Changes</button>
                </form> 
            </td>
            <td>{{ comment.likes }}</td>            
            <td></td>
            <td>{{ comment.dislikes }}</td>
            <td>
        </tr>
        {% endif %}
    {% endfor %}


    {% for comment in comments %}
        {% if comment.comment_id != edit_comment.comment_id %}
        <tr>
            <td>{{ comment.user_id }}</td>
            <td>{{ comment.text }}</td>
            <td>{{ comment.likes }}</td>
            <td>
                <form action="/like/{{ post.post_id }}/{{ comment.comment_id }}" method="post">
                    <button type="submit" class="btn btn-success">&#8205; &#8205; &#8205; LIKE &#8205; &#8205; &#8205; </button>
                </form> 
            </td>
            <td>{{ comment.dislikes }}</td>
            <td>
                <form action="/dislike/{{ post.post_id }}/{{ comment.comment_id }}" method="post">
                    <button type="submit" class="btn btn-danger ">DISLIKE</button>
                </form> 
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>



{% endblock %}
