{% extends '_layout.html' %}

{% block title %}Cryptid Catalog | Encyclopedia{% endblock %}

{% block body %}

<!-- List various monsters and a description of them-->
<dl class="row">
    <dt class="col-sm-3">ABOMINABLE SNOWMAN</dt>
  
    <dt class="col-sm-3">Type: </dt>
    <dd class="col-sm-9">Terrestrial</dd>
    <dt class="col-sm-3">Description: </dt>
    <dd class="col-sm-9">
      <p>a.k.a "Tibetan Yeti"</p>
      <p>A large and hairy human-like monster, typically found in the artic.</p>
    </dd>
</dl>

<dl class="row">
    <dt class="col-sm-3">BIGFOOT</dt>

    <dt class="col-sm-3">Type: </dt>
    <dd class="col-sm-9">Terrestrial</dd>
    <dt class="col-sm-3">Description: </dt>
    <dd class="col-sm-9">
      <p>A large and hairy ape-like monster, typically found in forests.</p>
    </dd>
</dl>

<dl class="row">
  <dt class="col-sm-3">CHUPACABRA</dt>

  <dt class="col-sm-3">Type: </dt>
  <dd class="col-sm-9">Terrestrial</dd>
  <dt class="col-sm-3">Description: </dt>
  <dd class="col-sm-9">
    <p>A blood sucking monster that primarily targets goats.</p>
  </dd>
</dl>

<dl class="row">
  <dt class="col-sm-3">COOKIE MONSTER</dt>

  <dt class="col-sm-3">Type: </dt>
  <dd class="col-sm-9">Terrestrial</dd>
  <dt class="col-sm-3">Description: </dt>
  <dd class="col-sm-9">
    <p>A mysterious blue beast, found all over the world.</p>
  </dd>
</dl>

<dl class="row">
  <dt class="col-sm-3">LIZARD MAN OF SCAPE ORE SWAMP</dt>

  <dt class="col-sm-3">Type: </dt>
  <dd class="col-sm-9">Terrestial</dd>
  <dt class="col-sm-3">Description: </dt>
  <dd class="col-sm-9">
    <p>A bipedal monster found in South Carolina, USA.</p>
  </dd>
</dl>

<dl class="row">
    <dt class="col-sm-3">LOCH NESS MONSTER</dt>
  
    <dt class="col-sm-3">Type: </dt>
    <dd class="col-sm-9">Aquatic</dd>
    <dt class="col-sm-3">Description: </dt>
    <dd class="col-sm-9">
      <p>A lake monster found in Loch Ness, Scotland.</p>
    </dd>
</dl>

<dl class="row">
    <dt class="col-sm-3">MAMLAMBO</dt>
  
    <dt class="col-sm-3">Type: </dt>
    <dd class="col-sm-9">Aquatic</dd>
    <dt class="col-sm-3">Description: </dt>
    <dd class="col-sm-9">
      <p>South African river monster.</p>
    </dd>
</dl>

<dl class="row">
    <dt class="col-sm-3">MEGALODON</dt>
  
    <dt class="col-sm-3">Type: </dt>
    <dd class="col-sm-9">Aquatic</dd>
    <dt class="col-sm-3">Description: </dt>
    <dd class="col-sm-9">
      <p>A shark-like monster found in the ocean.</p>
    </dd>
</dl>

<dl class="row">
  <dt class="col-sm-3">MOTHMAN</dt>

  <dt class="col-sm-3">Type: </dt>
  <dd class="col-sm-9">Winged</dd>
  <dt class="col-sm-3">Description: </dt>
  <dd class="col-sm-9">
    <p>a.k.a "Winged Man", "Bird Man", "UFO-Bird", "Mason Bird Monster"</p>
    <p>A bipedal, winged monster, originally spotted in West Virginia, USA.</p>
  </dd>
</dl>

<dl class="row">
  <dt class="col-sm-3">NINGEN</dt>

  <dt class="col-sm-3">Type: </dt>
  <dd class="col-sm-9">Semi-aquatic</dd>
  <dt class="col-sm-3">Description: </dt>
  <dd class="col-sm-9">
    <p>A humanoid, whale-like monster located in subantartic oceans.</p>
  </dd>
</dl>
{% endblock %}