{% extends '_layout.html' %}

{% block title %}Cryptid Catalog | Encyclopedia{% endblock %}

{% block body %}

<div style =" margin: 50px">
  <h3>Click the monster to learn more!</h3>
  <br>
  <dl class="row-sm-3">
      <dt class="col-sm-3"><a href="./entries/abominableSnowman.html" class="alert-link">ABOMINABLE SNOWMAN</a></dt>

      <dt class="col-sm-3">Type: </dt>
      <dd class="col-sm-9">Terrestrial</dd>
      <dt class="col-sm-3">Description: </dt>
      <dd class="col-sm-9">
        <p1>a.k.a "Tibetan Yeti"</p1>
        <br>
        <p1>A large and hairy ape-like monster, typically found in forests.</p1>
      </dd>

  <br>
  <dl class="row-sm-3">
      <dt class="col-sm-3"><a href="./entries/bigfoot.html" class="alert-link">BIGFOOT</a></dt>

      <dt class="col-sm-3">Type: </dt>
      <dd class="col-sm-9">Terrestrial</dd>
      <dt class="col-sm-3">Description: </dt>
      <dd class="col-sm-9">
        <p1>A large and hairy ape-like monster, typically found in forests.</p1>
      </dd>
  </dl>

  <br>
  <dl class="row-sm-3">
    <dt class="col-sm-3"><a href="./entries/abominableSnowman.html" class="alert-link">CHUPACABRA</a></dt>

    <dt class="col-sm-3">Type: </dt>
    <dd class="col-sm-9">Terrestrial</dd>
    <dt class="col-sm-3">Description: </dt>
    <dd class="col-sm-9">
      <p1>A blood sucking monster that primarily targets goats.</p1>
    </dd>
  </dl>

  <br>
  <dl class="row-sm-3">
    <dt class="col-sm-3"><a href="./entries/cookieMonster.html" class="alert-link">COOKIE MONSTER</a></dt>

    <dt class="col-sm-3">Type: </dt>
    <dd class="col-sm-9">Terrestrial</dd>
    <dt class="col-sm-3">Description: </dt>
    <dd class="col-sm-9">
      <p1>A mysterious blue beast, found all over the world.</p1>
    </dd>
  </dl>

  <br>
  <dl class="row-sm-3">
    <dt class="col-sm-3"><a href="./entries/lizardMan.html" class="alert-link">LIZARD MAN OF SCAPE ORE SWAMP</a></dt>

    <dt class="col-sm-3">Type: </dt>
    <dd class="col-sm-9">Semi-Aquatic</dd>
    <dt class="col-sm-3">Description: </dt>
    <dd class="col-sm-9">
      <p1>A bipedal monster found in South Carolina, USA.</p1>
    </dd>
  </dl>

  <br>
  <dl class="row-sm-3">
      <dt class="col-sm-3"><a href="./entries/lochNess.html" class="alert-link">LOCH NESS MONSTER</a></dt>
    
      <dt class="col-sm-3">Type: </dt>
      <dd class="col-sm-9">Aquatic</dd>
      <dt class="col-sm-3">Description: </dt>
      <dd class="col-sm-9">
        <p1>A lake monster found in Loch Ness, Scotland.</p1>
      </dd>
  </dl>

  <br>
  <dl class="row-sm-3">
      <dt class="col-sm-3"><a href="./entries/mamlambo.html" class="alert-link">MAMLAMBO</a></dt>
    
      <dt class="col-sm-3">Type: </dt>
      <dd class="col-sm-9">Aquatic</dd>
      <dt class="col-sm-3">Description: </dt>
      <dd class="col-sm-9">
        <p1>South African river monster.</p1>
      </dd>
  </dl>

  <br>
  <dl class="row-sm-3">
      <dt class="col-sm-3"><a href="./entries/megalodon.html" class="alert-link">MEGALODON</a></dt>
    
      <dt class="col-sm-3">Type: </dt>
      <dd class="col-sm-9">Aquatic</dd>
      <dt class="col-sm-3">Description: </dt>
      <dd class="col-sm-9">
        <p1>A shark-like monster found in the ocean.</p1>
      </dd>
  </dl>

  <br>
  <dl class="row-sm-3">
    <dt class="col-sm-3"><a href="./entries/mothman.html" class="alert-link">MOTHMAN</a></dt>

    <dt class="col-sm-3">Type: </dt>
    <dd class="col-sm-9">Winged</dd>
    <dt class="col-sm-3">Description: </dt>
    <dd class="col-sm-9">
      <p1>a.k.a "Winged Man", "Bird Man", "UFO-Bird", "Mason Bird Monster"</p1>
      <p1>A bipedal, winged monster, originally spotted in West Virginia, USA.</p1>
    </dd>
  </dl>

  <br>
  <dl class="row-sm-3">
    <dt class="col-sm-3"><a href="./entries/ningen.html" class="alert-link">NINGEN</a></dt>

    <dt class="col-sm-3">Type: </dt>
    <dd class="col-sm-9">Aquatic</dd>
    <dt class="col-sm-3">Description: </dt>
    <dd class="col-sm-9">
      <p1>A humanoid, whale-like monster located in subantartic oceans.</p1>
    </dd>
  </dl>
</div>
{% endblock %}