{% extends '_layout.html' %}

{% block title %}Cryptid Catalog | Home Page{% endblock %}

{% block body %}
<div class = "text-center">
    <p> Welcome to the Cryptid Catolog! Are you interested in monsters? Do you believe the creatures of campfire stories
    and folklore could be real? Want to share an experience or sighting? If you answered yes to any of these questions, 
    this forum is perfect for you!The Cryptid Catalog was created in 2022 by a group seeking to provide a place for 
    monster-lovers to unite and discuss with one another. This is an inclusive, informative site for all your monster
    inquiries. Login or create a profile to communicate with our cryptic community and post some findings and/or 
    thoughts or your own! View our encyclopedia page to learn more about some cryptic creatures.
    </p>
</div>
<br>
<div class = "text-center">
    <h1>Monster of the Day:</h1>
    <br>
    <br>
    <img src="../../static/loch_ness.jpg" alt="A large creature with a long neck coming out of the water near a fishing boat" style="border: 20px solid #A4B6BB ">
</div>
<br>
<div>
    <!--This Button does nothing-->
    <btn type = "button" class = "btn future" style ="background-color: #A4B6BB; margin-top: 50px; margin-left: 1000px; font-size: larger">Click Here to Add a Cryptid!</btn> 
</div>
<div style = "margin-left: 50px">
    <h2>Contact Us!</h2>
    <p1>Email:cryptid.creators1234@email.com</p1>
    <br>
    <p2>Phone:(123)456-7890</p2>
</div>

{% endblock %}