{% extends '_layout.html' %}

{% block title %}Cryptid Catalog | Sightings{% endblock %}

{% block body %}
<!-- accordian to hide filter when not needed -->
<div>
    <input class="accordion_input" type="checkbox" id="title1" />
    <label class="accordion_title" for="title1">Create a Filter</label>

    <div class="accordion_content">
        <!-- form to filter posts-->
        <form class="mt-3 form" action="/filter_posts" id="post_filter">
            <!--dropdown menu to select by creature, with all creatures as default-->
            <label for="creature">Filter posts via creature, or </label><br>
            <select name="creature" id="creature" form="post_filter">
                <option value="all">All Creatures</option>
                <option value="bigfoot">Bigfoot</option>
                <option value="abominableSnowman">Abominable Snowman</option>
                <option value="chupacabra">Chupacabra</option>>
                <option value="cookieMonster">Cookie Monster</option>
                <option value="lizardMan">Lizard Man</option>
                <option value="lochNess">Loch Ness</option>
                <option value="mamlambo">Mamlambo</option>
                <option value="megalodon">Megalodon</option>
                <option value="mothman">Mothman</option>
                <option value="ningen">Ningen</option>
            </select><br>

            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>
</div>
<!-- end of the filter accordain-->

<!-- form to go to post creation page-->
<form class="mt-3 form" action="/posts_to_creator">
    <button type="submit" class="btn btn-primary">Create Post</button>
</form>
<br>


{% for post in posts %}
    <div class="post">
        <!-- form is for going from all posts to the single post page-->
        <h1><a href="/posts/{{ post.post_id }}">{{ post.title }}</a></h1>
        <h3>Posted by {{ post.user_id }}</h3>
        <div class="centered">
            <img src="\static\forum_post_pictures\{{post.photo_path}}" style="width: 15em; height: auto;">
        </div>
        <!-- form is for going from all posts to encyclopedia entry accosiated creature-->
        {% if post.creature|upper in monster_list %}
            <form action="/post_to_entry">
                <button type="submit" class="btn btn-link creature-btn">
                    <p>Creature: {{ post.creature }}</p>
                </button>
                <input type="hidden" name="creature" id="creature" value={{post.creature}}>
            </form>
        {% endif %}
        {% if post.creature|upper not in monster_list %}
            <p>Creature: {{ post.creature }}</p>
        {% endif %}
        <p class="mx-5 px-5">{{ post.description }}</p>
    </div>
{% endfor %}
{% endblock %}