{% extends '_layout.html' %}

{% block title %}Cryptid Catalog | Sightings{% endblock %}

{% block body %}

<h1>Sightings</h1>
<form action="/sightings" method="post">
    <label for="title">Post Title:</label><br>
    <input type="text" name="title" id="title" placeholder="Title"><br>

    <label for="creature">Creature:</label><br>
    <input type="text" name="creature" id="creature" placeholder="Creature"><br>
    <!--add location tag for location-->

    <label for="description">Sighting Info:</label><br>
    <textarea rows="5" cols="40" name="description" id="description">Tell us about your sighting!</textarea><br>
    <button type="submit" class="btn btn-primary">Post</button>

    <!--do pictures need a separate section in the form?-->
</form>

{% endblock %}