{% extends '_layout.html' %}

{% block title %}Catalog | {{ post.title }}{% endblock %}

{% block body %}
<div class="post">
    <!-- form is for going from all posts to the single post page-->
    <h1><a href="/posts/{{ post.post_id }}">{{ post.title }}</a></h1>
    <h3>Posted by user #{{ post.user_id }}</h3>
    <div class="centered">
        <img class="centered" src="\static\forum_post_pictures\{{post.photo_path}}" style="width: 15em; height: auto; position:relative;">
    </div>
    <!-- form is for going from all posts to encyclopedia entry accosiated creature-->
    {% if post.creature|upper in monster_list %}
        <form action="/post_to_entry">
            <button type="submit" class="btn btn-link creature-btn">
                <p>Creature: {{ post.creature }}</p>
            </button>
            <input type="hidden" name="creature" id="creature" value={{post.creature}}>
        </form>
    {% endif %}
    {% if post.creature|upper not in monster_list %}
        <p>Creature: {{ post.creature }}</p>
    {% endif %}
    <p class="mx-5 px-5">{{ post.description }}</p>
</div>

    {% if session_user_id == user.user_id %}
    <form class="centered mt-3" action="/edit_post/{{ post.post_id }}" method="post">
        <button type="submit" class="btn btn-secondary" style="display: inline;">EDIT POST</button>
    </form>
    <form class="centered" action="/delete_post/{{ post.post_id }}" method="post">
        <button type="submit" class="btn btn-secondary mt-1">DELETE POST</button>
    </form> 
    {% endif %}

    <form action="/comment/{{post.post_id}}" id="algin-form" method="post">
        <div class="form-group mt-5">
            <label for="message">Leave a comment</label>
            <input type="text" class="form-control mt-3" id="message" name="message" placeholder="Enter your comment" required><br>
        </div>
        <div class="mt-2 ml-5">
            <button type="submit" class="btn btn-success">COMMENT</button>
        </div>
    </form>


{% for comment in comments %}
<div class="comment mt-4 text-justify float-left">
    <h4>Posted by user #{{ comment.user_id }}</h4>
    <p>{{ comment.text }}</p>
    <table>
        <tr>
            <td>
                <form action="/like/{{ post.post_id }}/{{ comment.comment_id }}" method="post">
                    <button type="submit" class="btn btn-success">&#8205; &#8205; &#8205; LIKE &#8205; &#8205; &#8205; </button>
                </form> 
            </td>
            <td>like {{ comment.likes }}</td>
            
            <td>
                <form action="/dislike/{{ post.post_id }}/{{ comment.comment_id }}" method="post">
                    <button type="submit" class="btn btn-danger ">DISLIKE</button>
                </form> 
            </td>
            <td>{{ comment.dislikes }}</td>
        </tr>
        {% if session_user_id == comment.user_id %}
          <tr>
            <td>
                <form action="/edit_comment/{{ post.post_id }}/{{ comment.comment_id }}" method="post">
                    <button type="submit" class="btn btn-secondary ">EDIT</button>
                </form>
            </td>
            <td>
                <form action="/delete_comment/{{ post.post_id }}/{{ comment.comment_id }}" method="post">
                    <button type="submit" class="btn btn-secondary ">DELETE</button>
                </form>
            </td>
          </tr>
        {% endif %}
    </table>
</div>
{% endfor %}


{% endblock %}
