{% extends '_layout.html' %}

{% block title %}Catalog | {{ post.title }}{% endblock %}

{% block body %}
<div class="post">
    <h1>{{ post.title }}</h1><h3>By {{ user.username }}</h3>
    <p>This is where the picture will go</p>
    <h3>{{ post.creature }}</h3>
    <!-- form is for going from all posts to encyclopedia entry accosiated creature-->
    <form action="/post_to_entry" method="post">
        <button type="submit" class="btn btn-link creature-btn">
            {{ post.creature }}
        </button>
        <input type="hidden" name="creature" id="creature" value={{post.creature}}>
    </form>
    <p class="mx-5 px-5">{{ post.description }}</p>
    <form class="mt-3 form" action="/comment/{{ post.post_id }}" method="get">
        <button type="submit" class="btn btn-primary">Leave a comment!</button>
    </form>
</div>

{% for comment in comments %}
<div class="comment mt-4 text-justify float-left">
    <h4>{{ comment.user_id }}</h4>
    <p>{{ comment.text }}</p>
    <table>
        <tr>
            <td>
                <form action="/like/{{ post.post_id }}/{{ comment.comment_id }}" method="post">
                    <button type="submit" class="btn btn-success">&#8205; &#8205; &#8205; LIKE &#8205; &#8205; &#8205; </button>
                </form> 
            </td>
            <td>{{ comment.likes }}</td>
            <td>
                <form action="/dislike/{{ post.post_id }}/{{ comment.comment_id }}" method="post">
                    <button type="submit" class="btn btn-danger ">DISLIKE</button>
                </form> 
            </td>
            <td>{{ comment.dislikes }}</td>

        </tr>
    </table>
</div>
{% endfor %}


{% endblock %}
