{% extends '_layout.html' %}

{% block title %}Cryptid Catalog | Encyclopedia{% endblock %}

{% block body %}
<dl class="row">
  <dt class="col-sm-3"><a href="../encyclopedia.html" class="alert-link">BACK</a></dt>
  <br>
  <dt class="col-sm-3">ABOMINABLE SNOWMAN</dt>
  <br>
  <dt class="col-sm-3">Type: Arctic, Terrestrial</dt>
  <br>
  <img src="../../static/abominableSnowman.jpg" alt="A hairy, white creature with snowy surroundings">
  <br>
  <dt class="col-sm-3">The abominable snowman is a giant, hairy, white, apelike beast. Rumored to live in the arctic regions of the world, the abominable snowman torments and scares off any living creatures that enter its territory. </dt> 
</dl>
{% endblock %}