{% extends '_layout.html' %}

{% block title %}Cryptid Catalog | Encyclopedia{% endblock %}

{% block body %}
<dl class="row">
  <dt class="col-sm-3"><a href="../encyclopedia.html" class="alert-link">BACK</a></dt>
  <br>
  <dt class="col-sm-3">BIGFOOT</dt>
  <br>
  <dt class="col-sm-3">Type: Terrestrial</dt>
  <br>
  <img src="../../static/bigfoot.jpg" alt="A hairy beast in the woods">
  <br>
  <dt class="col-sm-3">Bigfoot is a large, dark, apelike beast that roams the forests of North America. Bigfoot may be commonly mistaken for a bear at first sight.</dt>
  <dt class="col-sm-3">However, his ferociousness and more human-like walk separates him from any typical creature. Bigfoot gets his name from the enormous size of the footprints he leaves in his tracks.</dt>
  <dt class="col-sm-3">Sightings of him report him to be seen with beating red or yellow eyes, throwing rocks, bending or breaking trees, and a skunk-like, foul odor. Additionally, Bigfoot has been known to wander the woods completely alone.</dt>
  <dt class="col-sm-3">Campers have sighted this creature the most. Due to his nighttime appearances, it is believed that Bigfoot is nocturnal. </dt>
  
</dl>
{% endblock %}