{% extends '_layout.html' %}

{% block title %}Cryptid Catalog | Encyclopedia{% endblock %}

{% block body %}
<dl class="centered">
  <dt class="col-sm-3"><a href="/encyclopedia" class="alert-link">BACK</a></dt>
  <br>
  <dt class="col-sm-3">COOKIE MONSTER</dt>
  <br>
  <dt class="col-sm-3">Type: Terrestrial</dt>

  <img src="../../static/cookieMonster.png" alt="A blue furry creature devouring cookies." style =" margin: 50px">
  <br>
  <dt style="font-weight: normal">A voracious, furry monster with googly eyes, it has an insatiable appetite. While it primarily eats cookies, it can and will consume anything and everything.
    This monster is capable of simple human speech, spoken in a deep, growly voice.
    The Cookie Monster was first spotted in 1966, eating crunchy snack foods.</dt>
  <br>
</dl> 
{% endblock %}