{% extends '_layout.html' %}

{% block title %}Cryptid Catalog | Encyclopedia{% endblock %}

{% block body %}
<dl class="centered">
  <dt class="col-sm-3"><a href="/encyclopedia" class="alert-link">BACK</a></dt>
  <br>
  <dt class="col-sm-3">LOCH NESS MONSTER</dt>
  <br>
  <dt class="col-sm-3">Type: Aquatic</dt>
  <br>
  <img src="../../static/loch_ness.jpg" alt="A large creature with a long neck coming out of the water near a fishing boat" style =" margin: 50px">
  <br>
  <br>
  <dt style="font-weight: normal">Also referred to as “Nessie”, the Lock Ness Monster is a creature of Scottland’s highland lakes. This creature is large with a long neck. 
    Sightings of it peaking through the water are said to resemble a brachiosaurus with humps along its back that reach the surface as it swims in a snake-like manner across the water.
    Fishermen who have had their boats capsized blame the lock ness monster and tell stories of the creature circling and stalking them in the water. Nessie’s behavior has been deemed to be taunting and vicious.</dt>
  <br>
</dl>
{% endblock %}