{% extends '_layout.html' %}

{% block title %}Cryptid Catalog | Encyclopedia{% endblock %}

{% block body %}
<dl class="row">
  <dt class="col-sm-3"><a href="../encyclopedia.html" class="alert-link">BACK</a></dt>
  <br>
  <dt class="col-sm-3">MAMLAMBO</dt>
  <br>
  <dt class="col-sm-3">Type: Aquatic</dt>
  <br>
  <img src="../../static/mamlambo.png" alt="An artist's rendition of a snakelike cryptid">
  <br>
  <dt class="col-sm-3">The mamlambo is a cryptid South African creature of the Mzintlava River. This cryptid is notorious for dragging its victims to the bottom of the river and feasting on its brains.</dt>
  <dt class="col-sm-3">Sightings tell that the creature is 6-7 ft in length and resembles a serpent-like fish with a horse-shaped head and razor-sharp, long, pointed teeth. </dt>
</dl>
{% endblock %}