{% extends '_layout.html' %}

{% block title %}Cryptid Catalog | Encyclopedia{% endblock %}

{% block body %}
<dl class="row">
  <dt class="col-sm-3"><a href="../encyclopedia.html" class="alert-link">BACK</a></dt>
  <br>
  <dt class="col-sm-3">MEGALODON</dt>
  <br>
  <dt class="col-sm-3">Type: Aquatic</dt>
  <br>
  <img src="../../static/megalodon.png" alt="Megalodon with open jaw to swallow two whales that are seemingly small compared to this gigantic shark">
  <br>
  <dt class="col-sm-3">The megalodon is a gigantic shark that is said to be as old as dinosaurs. Until recently, this monster has lived in the unexplored, deepest, darkest parts of the ocean.</dt>
  <dt class="col-sm-3">In recent years, this beast has made its way to the surface, capsizing several water vessels and consuming its passengers.</dt>
  <dt class="col-sm-3">The megalodon may be mistaken for a whale at first sight but is said to be more than 60 ft long - larger than a school bus. </dt>
</dl>
{% endblock %}