{% extends '_layout.html' %}

{% block title %}Cryptid Catalog | Encyclopedia{% endblock %}

{% block body %}
<dl class="centered">
  <dt class="col-sm-3"><a href="/encyclopedia" class="alert-link">BACK</a></dt>
  <br>
  <dt class="col-sm-3">MEGALODON</dt>
  <br>
  <dt class="col-sm-3">Type: Aquatic</dt>
  <img src="../../static/megalodon.jpg" alt="Megalodon with open jaw to swallow two whales that are seemingly small compared to this gigantic shark" style =" margin: 50px">
  <br>
  <dt style="font-weight: normal">The megalodon is a gigantic shark that is said to be as old as dinosaurs. Until recently, this monster has lived in the unexplored, deepest, darkest parts of the ocean.
    In recent years, this beast has made its way to the surface, capsizing several water vessels and consuming its passengers.
    The megalodon may be mistaken for a whale at first sight but is said to be more than 60 ft long - larger than a school bus. </dt>
  <br>
</dl>
{% endblock %}